<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <script defer src="/js/slider.js"></script>

    <title>Orsai - Pizzas y Empanadas</title>
  </head>

  <body class="body-home">
    <%- include('./partials/header.ejs') %>

    <!-- si va aca ocupa 100vw. sino tiene que ir justo antes de "offers" -->
    <%- include('./partials/slider.ejs') %>
    <main class="main-home">
      <!-- <section class="seccion-heroe">
        <ion-icon name="chevron-back-circle" class="flecha-anterior"></ion-icon>
        <img src="/imgs/foto-carousel-5.jpg" />
        <ion-icon name="chevron-forward-circle" class="flecha-siguiente"></ion-icon>
      </section> -->
      <section class="offers">
        <h2 class="section-title">Promociones</h2>
        <div class="products">
          <% for (let pizza of products) { %> 
            <% if (pizza.isOffer === true) { %> 
                <%- include('./partials/offerCard.ejs', { pizza }) %> 
              <% }%> 
          <% } %>
        </div>
      </section>
      <section class="pizzas">
        <h2 class="section-title"><a href="/productos">Pizzas</a></h2>
        <div class="products">
          <% for (let pizza of products.slice(2,5)) { %> 
            <% if (pizza.category === "Pizza") { %>
              <%- include('./partials/pizzaCard.ejs', { pizza })%> 
            <% } %> 
          <% } %>
        </div>
      </section>
      <section class="empanadas">
        <h2 class="section-title"><a href="/productos">Empanadas</a></h2>
        <div class="products">
          <% let acc = 0 %> <% for (let empanada of products) { %> 
            <% if (empanada.category === "Empanada" && acc != 3) { %> 
              <%- include('./partials/empanadaCard.ejs', {empanada}) %> <% acc+= 1 %> 
              <% } %> 
          <% } %>
        </div>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
