<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/productDetail.css" />
    <title>Detalle de Producto</title>
</head>

<body>
  <%- include('./partials/header.ejs') %>

    <main class="main-product-detail">
      <div class="container-det-producto">
        <div class="detail-div-img">
          <img src="/imgs/productos/<%= producto.imagen %>" alt="" class="img-det-producto" />
        </div>
        <div class="sub-container">
          <div class="detail-div-1">
            <div class="nombre-producto--descripcion">
              <h1> <%= producto.nombre %> </h1>
              <p class="descripcion-producto">
                <%= producto.descripcion %>
              </p>
            </div>
            <div class="selects">
              <div class="selects-sub-container">

                <label>Toppings</label>
                <select name="toppings" class="select">
                  <option>Champiniones</option>
                  <option>Pickles</option>
                  <option>Pepperoni</option>
                </select>
              </div>
              <div class="selects-sub-container">

                <label>Bebida</label>
                <select name="bebida" class="select">
                  <option value="cerveza">Cerveza</option>
                  <option value="gaseosa">Gaseosa</option>
                </select>
              </div>
            </div>
          </div>
          <div class="detail-div-2">
            <div>
              <textarea class="input-aclaraciones" placeholder="Aclaraciones"></textarea>
            </div>
            <div class="div-button-carrito">
              <button type="submit" class="btn agregar-carrito">
                  Añadir al Carrito
              </button>
            </div>
          </div>
        </div>
        <div class="admin-btns">
          <div class="delete-btn">
            <form action="/productos/<%= producto.id %>?_method=DELETE" method="POST">
              <a>
                <button class="btn btn-delete">
                  Eliminar Producto
                </button>
              </a>
            </form>     
          </div>
          <div class="edit-btn">
            <a href="/productos/<%= producto.id %>/editar">
              <button class="btn btn-edit">
                  Editar Producto
                </button>
              </a>
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>