<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/products.css" />

    <title>Productos</title>
</head>

<body>
  <%- include('./partials/header.ejs') %>

    <main>
      <section>
        <h2>Pizzas</h2>
        <div class="pizzas-menu">
          <% for (let pizza of productos) { %>
            <% if (pizza.categoria === "Pizza") { %> 
              <%- include('./partials/pizzaMenu.ejs', {pizza}) %>
            <% } %>
          <% } %>
        </div>
      </section>
      <section class="empanadas">
        <h2 class="titulo-seccion">Empanadas</h2>
        <div class="productos">
            <% for (let empanada of productos) { %>
              <% if (empanada.categoria === "Empanada") { %> 
                <%- include('./partials/empanada.ejs', {empanada}) %>
                <% } %>
          <% } %>
        </div>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>