<a href="/products/<%= pizza.id %>" class="pizza">
    <img src="/imgs/products/<%=pizza.image%>" />
    <div class="info-pizza">
      <p class="nombre-producto"><%=pizza.name%></p>
      <span class="precio">$<%=pizza.price%></span>
      <p class="descripcion-promo"><%=pizza.description%></p>
    </div>
    <button class="btn add-cart">Agregar al Pedido</button>
</a>
