<a href="/products/<%= pizza.id %>" class="pizza">
  <img src=/imgs/products/<%=pizza.image%> />
  <div class="pizza-sub-container">
    <div class="pizza-info">
      <p class="product-name"><%=pizza.name%></p>
      <span class="price">$<%=pizza.price%></span>
      <p><%=pizza.description%></p>
    </div>
    <button class="btn add-cart">Agregar al Pedido</button>
  </div>
</a>
