<a class="pizza-menu" href="/products/<%= pizza.id %>">
  <img src="/imgs/products/<%=pizza.image %>" alt="" class="producto-img" />
  <div class="descrip-producto-menu">
    <div class="info-pizza-menu">
      <p class="name-product-menu"><%= pizza.name %></p>
      <span class="precio-menu">$<%= pizza.price %></span>
      <p class="descripcion-promo-menu"><%= pizza.description %></p>
    </div>
    <button class="btn add-cart-menu">Agregar al Pedido</button>
  </div>
</a>
