<!DOCTYPE html>
<html lang="es">

<%- include ('../partials/head.ejs')%>
    <link rel="stylesheet" href="/css/productEdit.css" />

    <title>Edicion de producto</title>
    </head>

    <body>
        <%- include('../partials/header.ejs') %>
            <main class="edicionProducto">
                <div class="container-product-edit">
                    <div class="titulo-edicion-producto">
                        <p class="titulo">Editando producto<br>
                            <%= producto.nombre %>
                        </p>
                    </div>
                    <form action="/productos/<%= producto.id %>/editar?_method=PUT" method="POST">
                        <!-- <form action="/productos/ producto.id /editar?_method=PUT" method="POST"
                        enctype="multipart/form-data"> -->
                        <div class="nombre-producto-edit">
                            <label for="nombre">Nombre del Producto</label>
                            <input type="text" name="nombre" value="<%= producto.nombre %>" id="nombre">
                            </input>
                        </div>
                        <div class="descripcion-producto">
                            <label for="descripcion">Descripción</label>
                            <input type="textarea" name="descripcion" value="<%= producto.descripcion %>"
                                id="descripcion">
                            </input>
                        </div>
                        <!-- <div class="imagen-producto">
                            <label for="imagen">Imagen</label>
                            <div class="file-select">
                                <input type="file" name="imagen" id="imagen" accept=".jpg">
                                <input type="file" accept=".jpg">
                                </input>
                            </div>
                        </div> -->
                        <div class="categoria-producto">
                            <label for="categoria">Categoría</label>
                            <select name="categoria">
                                <option value="pizza">Pizza</option>
                                <option value="empanada">Empanada</option>
                                <option value="promocion">Promoción</option>
                            </select>
                        </div>
                        <div class="precio-producto">
                            <label for="precio">Precio</label>
                            <input type="number" name="precio" value="<%= producto.precio %>" id="precio"></input>
                        </div>
                        <div class="botones-edicion">
                            <button class="save-changes" type="submit" id="botones">Guardar Cambios</button>
                            <button class="clear-all" type="reset" id="botones">Borrar Cambios</button>
                        </div>
                    </form>
                </div>
            </main>
            <%- include('../partials/footer.ejs') %>
                <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
                <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>

</html>