<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/userProfile.css" />

    <title>Perfil</title>
  </head>

  <body>
    <%- include('../partials/header.ejs') %>
    <main class="container-perfil" id="perfil">
      <div class="user-info">
        <div class="img-div">
          <img src="/imgs/usuarios/<%= user.image %>" class="profile-img" />
          <button class="btn btn-edit-profile btn-desktop">
            Editar Perfil
          </button>
        </div>

        <div class="user-info-sub">
          <h1 class="user-title"><%= user.firstName %></h1>
          <div>
            <h2>Información de usuario</h2>
          </div>
          <div>
            <p class="user-label">Nombre Completo</p>
            <p class="user-full-name">
              <%= user.name %> <%= user.lastName %>
            </p>
          </div>
          <div>
            <p class="user-label">E-mail</p>
            <p class="user-email"><%= user.email %></p>
          </div>
          <div>
            <p class="user-label">Teléfono</p>
            <p class="user-email"><%= user.phone %></p>
          </div>
          <button class="btn btn-edit-profile btn-mobile">Editar Perfil</button>
        </div>
      </div>
    </main>

    <%- include('../partials/footer.ejs') %>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
